/* using google cdn to import fonts as per my design on canva */
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

/* FUTURE ARYAN: PLS CHANGE ALL PX TO EM */
/* FUTURE ARYAN, PLS COMPRESS ALL IMAGES */

/* animations */
/* 1. for the title shadow rotation effect */
/* animation to remind the visitor of the stirring of noodles while cooking them */
@keyframes titleWebsite {
    0% {
        text-shadow: 3px 3px 2px #000, -3px -3px 2px #000;
    }

    25% {
        text-shadow: -3px 3px 2px #000, 3px -3px 2px #000;
    }

    50% {
        text-shadow: -3px -3px 2px #000, 3px 3px 2px #000;
    }

    75% {
        text-shadow: 3px -3px 2px #000, -3px 3px 2px #000;
    }

    100% {
        text-shadow: 3px 3px 2px #000, -3px -3px 2px #000;
    }
}

.topnav {
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.5vh;
    font-family: 'Solway', serif;
}

.topnav a.icon {
    background: black;
    float: right;
}

.active {
    background-color: #000000;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#first {
    background-image: url("./homebg.webp");
    margin: 0;
    padding: 0;
    height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;

}

p#tagline {
    color: white;
    text-align: center;
    padding: 2.5em;
    font-size: 25px;
    margin-top: 0;
    font-family: 'Solway', serif;
    letter-spacing: 3px;
    backdrop-filter: calc
}

p#name {
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 80px;
    font-family: 'Hammersmith One', sans-serif;
    letter-spacing: 3px;
    text-shadow: 3px 3px 2px #000, -3px -3px 2px #000;
    animation-name: titleWebsite;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#dwu {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#dinWidUs {
    background-color: white;
    color: black;
    padding: 1em;
    font-family: 'Solway', serif;
    box-shadow: 2px 2px 2px black;
    transition: background-color 0.5s ease-out 10ms;
    text-decoration: none;
}

#dinWidUs:hover {
    background-color: black;
    color: white;
    padding: 1em;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-family: 'Solway', serif;
    text-decoration: none;
}




div#second {
    background-color: #000;
    color: whitesmoke;
}

table#tableTop {
    height: 45vh;
}

td.secondTd {
    width: 50%;
}

p#secondHeading {
    color: whitesmoke;
    text-align: center;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
}

p#secondDescr {
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Solway', serif;
}

div#secondLower {
    height: 55vh;
    background-repeat: no-repeat;
    background-image: url("./subbg.webp");
    background-size: cover;
}





div#third {
    background-color: #e1e1d9;
}

p#thirdHeading {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20vh;
}

p#thirdDescr {
    font-size: 1.3em;
    font-family: 'Solway', serif;
    padding-bottom: 20vh;
}

td#leftThirdTd {
    width: 55%;
    padding-left: 5vw;
}

td#rightThirdTd {
    width: 45%;
    padding-right: 10%;
}

img#p31 {
    position: relative;
    top: -3vh;
    padding-right: 2vw;
}

img#p32 {
    position: relative;
    top: 5vh;
    padding-right: 2vw;
}



div#fourthcontainer {
    max-width: 99vw;
    display: block;
    margin: auto;
    background-color: #f5f5ef;
}

div#fourth {
    background-color: #f5f5ef;
    min-height: 80vh;
    max-height: fit-content;
    padding-left: 9vw;
    width: fit-content;
    max-width: 82vw;
    display: inline-flex;
    flex-wrap: wrap;
}

td.fourthTd {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}

p#p41head {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15vh;
}

p#p41body {
    font-size: 1.3em;
    font-family: 'Solway', serif;
    padding-bottom: 20vh;
    padding-right: 5vw;
}

p#p42,
p#p43,
p#p44 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0vh;
    color: #000;
    text-decoration: none;
}

img.img4 {
    padding-top: 15vh;
}

a {
    text-decoration: none;
}





div#fifth {
    color: #f5f5ef;
    background: #000;
    text-align: center;
    height: 80vh;
}

p#p5head {
    padding-top: 10vh;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

div.reviewContainer {
    max-width: 99vw;
}

td.review {
    padding-top: 15vh;
    color: #f5f5ef;
    background: #000;
    text-align: left;
    width: 20vw;
    margin-left: 5vw;
    padding-left: 10vw;
}

p.reviewTitle,
p.reviewBody,
p.reviewWriter {
    width: 20vw;
}

p.reviewTitle {
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
}

p.reviewBody,
p.reviewWriter {
    font-size: 1.1em;
    line-height: 1.5em;
    font-family: 'Solway', serif;
}



div#sixth {
    background-color: #e1e1d9;
    width: 99vw;
    height: 80vh;
}

p#sixthHeading {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    padding-bottom: 8vh;
    margin-bottom: 0;
    padding-top: 0vh;
}

td#leftSixthTd {
    width: 50vw;
    height: 80vh;
    background-image: url("./contactus.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

td#rightSixthTd {
    width: 50vw;
    text-align: center;
}

div#contactInfo {
    text-align: left;
}

p#phoneTitle,
p#emailTitle,
p#addTitle {
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    padding-left: 10vw;
}

p#phoneBody,
p#emailBody,
p#addBody {
    padding-left: 10vw;
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
    line-height: 1.5em;
    font-family: 'Solway', serif;
}

a#emailAdd {
    color: #000;
    text-decoration: none;
}