/* using google cdn to import fonts as per my design on canva */
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* animations */
/* 1. for the title shadow rotation effect */
/* animation to remind the visitor of the stirring of noodles while cooking them */
@keyframes titleWebsite {
    0% {
        text-shadow: 3px 3px 2px #000, -3px -3px 2px #000;
    }

    25% {
        text-shadow: -3px 3px 2px #000, 3px -3px 2px #000;
    }

    50% {
        text-shadow: -3px -3px 2px #000, 3px 3px 2px #000;
    }

    75% {
        text-shadow: 3px -3px 2px #000, -3px 3px 2px #000;
    }

    100% {
        text-shadow: 3px 3px 2px #000, -3px -3px 2px #000;
    }
}

.topnav {
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.5vh;
    font-family: 'Solway', serif;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    float: right;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #000000;
    color: white;
}

body {
    margin: 0;
}

#first {
    background-image: url("./homebg.png");
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;

}

p#tagline {
    color: white;
    text-align: center;
    padding: 2.5em;
    font-size: 25px;
    margin-top: 0;
    font-family: 'Solway', serif;
    letter-spacing: 3px;
    backdrop-filter: calc
}

p#name {
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 80px;
    font-family: 'Hammersmith One', sans-serif;
    letter-spacing: 3px;
    text-shadow: 3px 3px 2px #000, -3px -3px 2px #000;
    animation-name: titleWebsite;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#dwu {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#dinWidUs {
    background-color: white;
    color: black;
    padding: 1em;
    font-family: 'Solway', serif;
    box-shadow: 2px 2px 2px black;
    transition: background-color 0.5s ease-out 10ms;
    text-decoration: none;
}

#dinWidUs:hover {
    background-color: black;
    color: white;
    padding: 1em;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-family: 'Solway', serif;
    text-decoration: none;
}