@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.topnav {
    overflow: hidden;
    background-color: wheat;
    position: relative;
}
body, div{
    margin: 0;
    width: 95vw;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.5vh;
    font-family: 'Solway', serif;
}

.topnav a.icon {
    background: wheat;
    float: right;
}

.active {
    background-color: wheat;
    color: black;
}

h2#top {
    padding: 1em;
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-weight: 500;
    /* float: r; */
}

h2#left {
    padding-left: 7.5vw;
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-weight: 500;
    /* float: r; */
}

table {
    color: black;
}

td.itemName,
td.itemPrice {
    width: 25vw;
    border: 2px solid black;
    padding: 1em;
    display: table-cell;
    text-align: center;

}

th.items {
    width: 10vw;
    border: 2px solid black;
    padding: 1em;
}

html {
    margin: 0;
}

body {
    background-color: wheat;
}

div#heading {
    text-align: center;
}

td.itemType {
    width: 30vw;
    margin-left: 10vw;
    display: block;
}


hr {
    width: 90vw;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    margin: 2.5em auto;
    position: relative;
}

hr:before,
hr:after {
    content: '';
    position: absolute;
    bottom: 0px;
    height: 5em;
    width: 90%;
    background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 70%);
    z-index: 0;
}

hr:after {
    top: 0px;
    bottom: auto;
    height: 1.5em;
    background: radial-gradient(ellipse at top, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 70%);
}

div#foot {
    height: 5vh;
}

td {
    display: block;
}

table.innerContainer {
    font-size: 1.25em;
    width: 80vw;
    margin: auto;
}

table.outerContainer {
    width: 95vw;
}

h2{
    padding-left: 0 !important;
}