/* using google cdn to import fonts as per my design on canva */
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #222;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
    font-family: 'Solway', serif;    
}

.topnav a.icon {
    background: black;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    background-color: #000000;
    color: white;
    font-family: 'Raleway', serif;
    
}

body {
    background-color: black;
    color: white;
}

div#upperText {
    margin-top: 3vh;
}

div#upperText,
div#locationChooser,
div#timeChooser,
div#dateChooser {
    margin-left: 3vh;
}

p#boldUpperText {
    font-family: 'Raleway', serif;
    font-size: 2em;
}

p {
    font-family: 'Solway', serif;
    font-size: 1.3em;
    margin-bottom: 0.5vh;
}

img#photoReservation {
    width: 102.2%;
    height: auto;
}

input,
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 0.3vh solid lightsalmon;
    color: white;
    background: #000;
    font-size: 1.1em;
    font-family: 'Solway', serif;
}

option {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 0.3vh solid lightsalmon;
    color: white;
    background: #000;
    font-size: 0.6em;
    font-family: 'Solway', serif;
}

div#finalButton {
    margin-top: 4vh;
    width: 90vw;
    justify-content: center;
    text-align: center;
}

button {
    margin: auto;
    height: 15vh;
    width: 15vh;
    background: lightsalmon;
    border-radius: 100%;
}

img#table {
    width: 6vh;
    height: 6vh;
}

div#spacing {
    height: 0.2vh;
}

p#buttonText {
    margin-top: 0;
}

a {
    color: #000;
    text-decoration: none;
}