/* using google cdn to import fonts as per my design on canva */
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

body {
    background-color: black;
    color: white;
}

div#upperText{
    margin-top: 3vh;
}

div#upperText,
div#locationChooser,
div#timeChooser,
div#dateChooser {
    margin-left: 3vh;
}

p#boldUpperText {
    font-family: 'Raleway', serif;
    font-size: 2em;
}

p {
    font-family: 'Solway', serif;
    font-size: 1.3em;
    margin-bottom: 0.5vh;
}

img#photoReservation {
    width: 102.2%;
    height: auto;
}

input, select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 0.3vh solid lightsalmon;
    color: white;
    background: #000;
    font-size: 1.1em;
    font-family: 'Solway', serif;
}

option{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 0.3vh solid lightsalmon;
    color: white;
    background: #000;
    font-size: 0.6em;
    font-family: 'Solway', serif;
}

div#finalButton{
    margin-top: 4vh;
    width: 90vw;
    justify-content: center;
    text-align: center;
}

button{
    margin: auto;
    height: 15vh;
    width: 15vh;
    background: lightsalmon;
    border-radius: 100%;
}

img#table{
    width: 6vh;
    height: 6vh;
}

div#spacing{
    height: 0.2vh;
}

p#buttonText{
    margin-top: 0;
}